/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

form.normal-form{
  margin: 20px;
}
.controles-container{
width: 100%;
padding: 8%;
padding-top: 20%;
padding-left: 10%;
}
h2{
  color: rgb(102, 124, 247) ;
  margin-top: 20%;
  padding: 1%;
}

.controles-container >*{
  width:100%;
}

button{
  width: 25%;
}
.example-button-row{
  margin-left: 35%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 2%;
}

